<h1>Locations of Interest</h1>
<p>List of locations of interest...</p>
<%= link_to 'New Location', new_location_path %>
<br>
<% @locations.each do |location| %>
      <tr><br>
        <td><%= location.name %></td>
        <td><%= location.address %></td>
        <td><%= link_to 'Show Location | ', location %></td>
        <td><%= link_to 'Edit Location | ', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy Location', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>